* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Resetting default styles for consistent cross-browser rendering */
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url('/public/img/background_img.jpg'); /* Path to the bg image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  overflow-x: hidden;
  /* Ensures the background image remains fixed during scrolling */
}
